body{
    margin: 0%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background-color: #ffffff;
    font-family: "Century Gothic";
}

div.navbar ul
{    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    width: 100%;
    background-color:black;    
    z-index: 999;
}
div.navbar li 
{
    float: left;    
}  
div.navbar li a 
{
    font-family: "Century Gothic";
    font-size: 30px;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;   
}
div.navbar a:hover
{
    background-color: rgb(169, 123, 184);
}
div.navbar button.dropbtn
{
    margin-left: 10px;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    position: relative;
    top: 12px;
    background-color: #f4511e;
    border-style: none;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 50px;
    text-align: left;
    font-size: 30px;
    color: white;
    font-family: "Century Gothic";
}
div.navbar button.dropbtn:hover
{
    background-color:rgb(182, 0, 0);    
}
div.navbar button.dropbtn img
{
    padding-top: 5px;
    height: 30px;   
}
div.navbar button.dropbtn span
{
    padding-left: 20px;
} 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

#longLine{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.buttonsLila{
    color: #ffffff;
    background: cornflowerblue;
    border: 0;
    height: 30px;
    width: 80px;
    border-radius: 10px;

}
.withIcon{
    background: url(../img/u632.png) no-repeat scroll 7px 7px;
padding-left:30px;
}

div.form-group label{
    float: left;
    clear: left;
    text-align: right;
    width: 250px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 10px;
    
}
div.form-group input {
    float: left;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 250px;
}
div.form-group input#rad{
    position: relative;
    right: 120px;
    top: 3px;
} 
div input#createAcc{
    position: relative;
    top: 50px;
    right: 80px;
    width: 80px;
}
form button#saveProfile{
    position: relative;
    top: 145px;
    right: 80px;
    width: 80px;
}
button#saveD{
    position: relative;
    top: 630px;
    right: 100px;
    width: 100px;
    }

button#saveJ{
    position: relative;
    top: 330px;
    right: 100px;
    width: 100px;
    }

    button#saveH{
        position: relative;
        top: 230px;
        right: 100px;
        width: 100px;
        }

div.footer
{
  height: 60px; 
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
  font-family: "Century Gothic";
  display: flex;  
  white-space: nowrap;
  bottom: 0;
  
}

div.footer img{
    height: 50px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 1000px;
  }

  section h1#headerEdit{
      position: relative;
      left: 38%;
      font-size: 40px;
  }

  li#backBtn{
      background-color: red;
      list-style: none;
      width: 100px;      
      height: 30px;
      text-decoration: none;
      position: relative;
      top: 10px;
      border-radius: 5px;
      text-align: center;
      color: #ffffff;
  }

  section.secondsections{
      position: relative;
      top: 60px;
  }