body
{
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}
ul
{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;    
}
li 
{
    float: left;
}
  
li a 
{
    font-family: "Century Gothic";
    font-size: 40px;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 80px;
    text-decoration: none;
}
li a:hover
{
    background-color: purple;
}
div.header
{   
    display: flex;  
    width: 100%;
    height: 100%;
    overflow: hidden;
}
div.header img
{      
    width: 100%;
    height: 800px; 
    object-fit: cover;
    object-position: 100% 60%;
}
div.header p
{    
    font-size: 150px;
    white-space: nowrap;    
    font-family: "Century Gothic";
    padding: 20px;
    box-shadow: 1px 1px 5px 1px #222222;
    color: white;
    background-color: rgba(0,0,0,0.5);     
    position: absolute;
    top: 30%;
    left: 50%;    
    transform: translate(-50%, -50%);
}
div.information
{
    position: relative;    
    left: 200px;
    width: 80%;
    height: 100%;    
    font-size: 70px;    
    color: #333333;
    padding: 0;    
    display: inline-block;
    font-family: "Century Gothic";
}
div.information h1
{
    font-weight: bold;
    position: relative;    
    bottom: 50px;
}
div.information p
{   
    position: relative; 
    bottom: 50px;
    width: 50%;
    left: 50%;
    font-size: 30px;  
    
}
div.picture2 img
{
    width: 100%;
    height: 800px; 
    object-fit: cover;
    object-position: 100% 50%;
}
div.timetable1
{
    position: relative;    
    left: 200px;
    width: 80%;
    height: 100%;    
    font-size: 70px;    
    color: #333333;
    padding: 0;    
    display: inline-block;
    font-family: "Century Gothic";
}
div.timetable1 h2
{
    font-weight: 500;
    font-size: 100px;
}
div.timetable1 table
{
    font-family: "Century Gothic";
    font-size: 30px;    
    border-collapse: collapse;
    width: 100%;
}
div.timetable1 table td,th
{    
    text-align: center;
    padding: 30px;
}
div.timetable1 table th
{
    background-color: #333333;
    color: white;
    font-size: 40px;
}
div.timetable1 table tr:nth-child(even)
{   
    background-color: #CCCCCC;      
}
div.timetable2
{
    position: relative;    
    left: 200px;
    width: 80%;
    height: 100%;    
    font-size: 50px;    
    color: #333333;
    padding: 0;    
    display: inline-block;
    font-family: "Century Gothic";
}
div.timetable2 h2
{
    font-weight: 500;    
    color: white;
    text-align: right;
    font-size: 100px;
}
div.timetable2 table
{
    font-family: "Century Gothic";
    font-size: 30px;    
    border-collapse: collapse;
    width: 100%;
}
div.timetable2 table td,th
{    
    text-align: center;
    padding: 30px;
}
div.timetable2 table th
{
    background-color: #333333;
    color: white;
    font-size: 40px;
}
div.timetable2 table tr:nth-child(even)
{   
    background-color: #CCCCCC;      
}
div.timetable2 table tr:nth-child(odd)
{   
    background-color:  #F2F2F2;       
}
div.timetable3
{
    position: relative;    
    left: 200px;
    width: 80%;
    height: 100%;    
    font-size: 50px;    
    color: #333333;
    padding: 0;    
    display: inline-block;
    font-family: "Century Gothic";
}
div.timetable3 h2
{
    font-weight: 500;
    font-size: 100px;
}
div.timetable3 table
{
    font-family: "Century Gothic";
    font-size: 30px;    
    border-collapse: collapse;
    width: 100%;
}
div.timetable3 table td,th
{    
    text-align: center;
    padding: 30px;
}
div.timetable3 table th
{
    background-color: #333333;
    color: white;
    font-size: 40px;
}
div.timetable3 table tr:nth-child(even)
{   
    background-color: #CCCCCC;      
}
div.timetable4
{
    position: relative;    
    left: 200px;
    width: 80%;
    height: 100%;    
    font-size: 50px;    
    color: #333333;
    padding: 0;    
    display: inline-block;
    font-family: "Century Gothic";
}
div.timetable4 h2
{
    font-weight: 500;
    font-size: 100px;
    text-align: right;
}
div.timetable4 table
{
    font-family: "Century Gothic";
    font-size: 30px;    
    border-collapse: collapse;
    width: 100%;
}
div.timetable4 table td,th
{    
    text-align: center;
    padding: 30px;
}
div.timetable4 table th
{
    background-color: #333333;
    color: white;
    font-size: 40px;
}
div.timetable4 table tr:nth-child(even)
{   
    background-color: #CCCCCC;      
}
div.timetable4 table tr:nth-child(odd)
{   
    background-color:  #F2F2F2;       
}
div.backcolor2
{
    background-color: #39385D;    
}
div.backcolor4
{
    background-color: #CF4B7E;
}
@media only screen and (max-width: 800px)
{
    li a
    {
        padding: 20px 20px;
    }
    div.header img
    {
        width: 100%;
        height: 500px;        
    }
    div.header p
    {
        font-size: 65px;
    }
}