body{
    margin: 0%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background-image: url("../img/background.jpg");
}


div.navbar ul
{    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    width: 100%;
    background-color:black;    
    z-index: 999;
}
div.navbar li 
{
    float: left;    
}  
div.navbar li a 
{
    font-family: "Century Gothic";
    font-size: 30px;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;   
}
div.navbar a:hover
{
    background-color: rgb(169, 123, 184);
}
div.navbar button.dropbtn
{
    margin-left: 10px;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    position: relative;
    top: 12px;
    background-color: #f4511e;
    border-style: none;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 50px;
    text-align: left;
    font-size: 30px;
    color: white;
    font-family: "Century Gothic";
}
div.navbar button.dropbtn:hover
{
    background-color:rgb(182, 0, 0);    
}
div.navbar button.dropbtn img
{
    padding-top: 5px;
    height: 30px;   
}
div.navbar button.dropbtn span
{
    padding-left: 20px;
} 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}


  

  footer{
      display: inline;
      background-color: #000;
  }

  #footer{
    overflow: hidden;
    background-color: #000;

  }

  .left{
      color: #fff;
      background-color: #000;
      margin-top:2%;
      margin-left: 1%;
      float: left;
  }

  .right{
    background-color: #000;
    margin-right: 1%;
      float: right;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #login{
    height: 550px;
    width: 40%;
  }

  #loginButton{
    color: black;
    background: cornflowerblue;
    border: 0;
  }

  #forogtPassButt{
    color: white;
    background: transparent;
    border: 0;
  }

  section form.forma{
    position: relative;
    bottom: 120px;
    left: 650px;
  }

  section form.forma div{
    border: 1px;
    border-color: #fff;
  }

  input#loginButton{
    color: #ffffff;
    background: cornflowerblue;
    border: 0;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    position: relative;
    left: 50px;
    margin-top: 20px;
    
  }
  section form.forma a{
    position: relative;
    top: 60px;
    right: 90px;
  }

  section form div label img.iconsLogin{
    border-image:5px solid #ffffff;
  }

.forma a{
  color: #ffffff;
}

div.footer
{
  height: 100px; 
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
  font-family: "Century Gothic";
  display: flex;  
  white-space: nowrap;
}

div.footer img{
  height: 70px;
  width: 70px;
  position: relative;
  top: 10px;
  left: 1000px;
}
